<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>{% block title %}Site title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'lister/index.css' %}">
    </head>

    <body>
        <div id="navigation">
            {% block navigation %}
                {% for n, p in parents %}
                    <a href="{{ p }}">{{ n }}</a>
                {% endfor %}
            {% endblock %}
        </div>

        <div id="groups">
            <b>Groups</b>
            {% block groups %}{% endblock %}
        </div>

        <div id="repositories">
            <b>Repositories</b>
            {% block repositories %}{% endblock %}
        </div>

        <script>
            var d = document.getElementById("groups");
            d.style.height = window.innerHeight - d.style.offsetTop - 200;
            document.write(d.style.height);
        </script>
    </body>
</html>
