body {
    background-color: weat;
    margin-left: 30px;
}

#navigation {
    position: fixed;
    top: 20px;
    height: 40px;
}

#navigation ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

#navigation li {
     float: left;
     display: inline-block;
     width: 200px;
}

#content {
    position: fixed;
    top: 60px;
}

#location {
    height: 40px;
    color: red;
}

#stuff {
    position: absolute;
    left: 0px;
}

#groups {
    position: absolute;
    left: 0px;
    width: 250px;
    overflow: auto;
}
#repositories {
    position: absolute;
    left: 450px;
    width: 1000px;
    overflow: auto;
}

